<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Corben:700,400' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/starter-template.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-extensions.css')}}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
 </head>
<body>