{% if data != "hey" %}
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Tags</th>
		</tr>
	</thead>
	<tbody>
		{% for value in data %}
			<tr>
				<td>{{ data[value]['id'] }}</td>
				<td>
				<a href="file://{{ data[value]['Path'] }}">
				{{ data[value]['name'] }}
				</a>
				</td>
				<td>
				{% for var in data[value]['tags'] %}
					{{var[0]}},
				{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>{{data}}</p>
{% endif %}
<form action="/submit">
	<button>Add</button>
</form>