{% include 'header.html' %}
{% if data != "hey" %}
<div class="col-lg-12">
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Tags</th>
		</tr>
	</thead>
	<tbody>
		{% for value in data %}
			<tr>
				<td>
				<a href="file://{{ data[value]['Path'] }}">
				{{ data[value]['name'] }}
				</a>
				</td>
				<td>
				{% for var in data[value]['tags'] %}
					{{var[0]}},
				{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>{{data}}</p>
{% endif %}
<div align="center">
<form action="/submit">
	<button type="submit" class="btn btn-custom btn-primary">Add</button>
</form>
</div>
{% include 'footer.html' %}